@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasans/v17/va9E4kDNxMZdWfMOD5VfkA.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasans/v17/va9B4kDNxMZdWfMOD5VnLK3uQQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 500;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v36/memQYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWq8tWZ0Pw86hd0Rk_RkaVc.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v36/memQYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWq8tWZ0Pw86hd0RkxhjaVc.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v36/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjr0C4n.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v36/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsgH1y4n.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v36/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgshZ1y4n.ttf) format('truetype');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v53/TK3_WkUHHAIjg75cFRf3bXL8LICs18NvgUE.ttf) format('truetype');
}
@font-face {
  font-family: 'PT Serif';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ptserif/v18/EJRTQgYoZZY2vCFuvAFTzro.ttf) format('truetype');
}
@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ptserif/v18/EJRVQgYoZZY2vCFuvDFR.ttf) format('truetype');
}
@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ptserif/v18/EJRSQgYoZZY2vCFuvAnt65qV.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiGyp8kv8JHgFVrJJLedw.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrFJA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLGT9V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLEj6V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLCz7V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourcesans3/v15/nwpBtKy2OAdR1K-IwhWudF-R9QMylBJAV3Bo8Ky461EN.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourcesans3/v15/nwpBtKy2OAdR1K-IwhWudF-R9QMylBJAV3Bo8Kxf7FEN.ttf) format('truetype');
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --pt-serif: PT Serif, serif;
  --open-sans: Open Sans, sans-serif;
  --primary-red: #740000;
  --primary-black: #000000;
  --primary-white: #FFFFFF;
  --secondary-charcoal-grey: #464646;
  --secondary-dawn-pink: #ECECEC;
  --secondary-water-blue: #0088CC;
  --third-color-smoky-grey: #707070;
  --third-color-water: #ECF5FA;
}
.flex {
  display: flex;
  align-items: center;
}
img {
  width: 100%;
  height: auto;
  display: inline-block;
}
a {
  text-decoration: none;
  font-family: var(--open-sans);
  color: var(--primary-white);
}
li {
  list-style: none;
}
.background.properties {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.material-symbols-outlined,
.material-symbols-rounded,
.material-symbols-sharped {
  color: var(--primary-black);
}
.material-symbols-rounded-props {
  font-family: Material Symbols Rounded;
  font-weight: 200;
  font-style: normal;
  font-size: 24px;
  color: var(--primary-white);
}
.container {
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
  padding-right: 1.875rem;
  padding-left: 1.75rem;
}
@media screen and (max-width: 1279px) {
  .container {
    padding-right: 1.56rem;
    padding-left: 1.56rem;
  }
}
@media screen and (max-width: 1023px) {
  .container {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}
@media screen and (max-width: 767px) {
  .container {
    padding-right: 1.25rem;
    padding-left: 1.25rem;
  }
}
body {
  background-color: #FAFAFA;
  font-family: var(--open-sans);
}
.plp-list-view-container .header .top-banner .container {
  background-color: var(--primary-red);
  padding-top: 7px;
  padding-bottom: 7px;
  justify-content: space-between;
}
@media screen and (max-width: 1023px) {
  .plp-list-view-container .header .top-banner .container {
    justify-content: center;
  }
}
.plp-list-view-container .header .top-banner .container .left-side-cont .parcel-img {
  max-width: 100%;
  height: auto;
  height: 16px;
}
.plp-list-view-container .header .top-banner .container .left-side-cont .free-deleve-txt {
  font: bold 11px/16px var(--open-sans);
  color: var(--primary-white);
  margin: 0px 5px;
}
@media screen and (max-width: 375px) {
  .plp-list-view-container .header .top-banner .container .left-side-cont .free-deleve-txt {
    font: bold 8px/16px var(--open-sans);
    margin: 0px 3px;
  }
}
.plp-list-view-container .header .top-banner .container .left-side-cont .see-link {
  font: italic 9px/16px var(--open-sans);
}
.plp-list-view-container .header .top-banner .container .right-side-cont {
  font: normal 11px/36px var(--open-sans);
  color: var(--primary-white);
}
@media screen and (max-width: 1023px) {
  .plp-list-view-container .header .top-banner .container .right-side-cont {
    display: none;
  }
}
.plp-list-view-container .header .top-banner .container .right-side-cont hr {
  height: 15px;
  border: 1px solid var(--primary-white);
  margin: 0px 10px;
}
.plp-list-view-container .header .bottom .container {
  background-color: var(--primary-white);
  padding-top: 22px;
  padding-bottom: 13px;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media screen and (max-width: 1023px) {
  .plp-list-view-container .header .bottom .container {
    padding-top: 16px;
    padding-bottom: 7px;
  }
}
.plp-list-view-container .header .bottom .container .hamburg-icon {
  display: none;
}
@media screen and (max-width: 1023px) {
  .plp-list-view-container .header .bottom .container .hamburg-icon {
    display: block;
  }
}
.plp-list-view-container .header .bottom .container .cmpny-logo {
  max-width: 140px;
  width: 100%;
}
@media screen and (max-width: 1023px) {
  .plp-list-view-container .header .bottom .container .cmpny-logo {
    max-width: 93px;
  }
}
.plp-list-view-container .header .bottom .container form {
  width: 100%;
  position: relative;
  flex-basis: 38.3%;
}
@media screen and (max-width: 1279px) {
  .plp-list-view-container .header .bottom .container form {
    flex-basis: 28.8%;
  }
}
@media screen and (max-width: 1023px) {
  .plp-list-view-container .header .bottom .container form {
    order: 5;
    flex-basis: 100%;
    margin-top: 7.7px;
  }
}
.plp-list-view-container .header .bottom .container form input {
  width: 100%;
  height: 40px;
  background-color: var(--secondary-dawn-pink);
  font: italic 14px/14px var(--open-sans);
  color: var(--primary-black);
  padding: 13px 15px;
  border: none;
  border-radius: 25px;
}
.plp-list-view-container .header .bottom .container form input::placeholder {
  font: italic 14px/14px var(--open-sans);
  color: var(--primary-black);
}
.plp-list-view-container .header .bottom .container form input:focus {
  outline: none;
}
.plp-list-view-container .header .bottom .container form .search-icon {
  position: absolute;
  font-size: 20px;
  top: 10px;
  right: 3%;
}
.plp-list-view-container .header .bottom .container .nav-links {
  flex-basis: 32%;
  justify-content: center;
}
@media screen and (max-width: 1279px) {
  .plp-list-view-container .header .bottom .container .nav-links {
    flex-basis: 40%;
  }
}
@media screen and (max-width: 1023px) {
  .plp-list-view-container .header .bottom .container .nav-links {
    display: none;
  }
}
.plp-list-view-container .header .bottom .container .nav-links a {
  color: var(--primary-black);
}
.plp-list-view-container .header .bottom .container .nav-links a .material-symbols-rounded {
  color: var(--primary-red);
}
.plp-list-view-container .header .bottom .container .nav-links .shop-wine {
  font: normal 22px/29px var(--pt-serif);
  letter-spacing: -1px;
}
.plp-list-view-container .header .bottom .container .nav-links .shop-wine .material-symbols-rounded {
  margin-left: 5px;
}
.plp-list-view-container .header .bottom .container .nav-links .new-arrival {
  margin: 0px 30px;
}
@media screen and (max-width: 1279px) {
  .plp-list-view-container .header .bottom .container .nav-links .new-arrival {
    margin: 0px 20px;
  }
}
.plp-list-view-container .header .bottom .container .profile-cart .profile-icon {
  height: 24px;
  margin-right: 20px;
}
.plp-list-view-container .header .bottom .container .profile-cart .cart-icon {
  position: relative;
}
.plp-list-view-container .header .bottom .container .profile-cart .cart-icon .material-symbols-outlined {
  color: var(--primary-red);
}
.plp-list-view-container .header .bottom .container .profile-cart .cart-icon .cart-count {
  height: 16px;
  width: 16px;
  border: 2px solid var(--primary-white);
  background-color: var(--secondary-water-blue);
  color: var(--primary-white);
  border-radius: 50%;
  font: bold 7px/41px var(--open-sans);
  justify-content: center;
  position: absolute;
  left: 15px;
  bottom: 15px;
}
.plp-list-view-container .body-container .banner-sec .container {
  background-image: url(images/banner/banner-image.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.plp-list-view-container .body-container .banner-sec .container .top {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}
@media screen and (max-width: 600px) {
  .plp-list-view-container .body-container .banner-sec .container .top {
    padding-top: 0.9375rem;
    padding-bottom: 0.9375rem;
  }
}
@media screen and (max-width: 600px) {
  .plp-list-view-container .body-container .banner-sec .container .top .bread-crumb {
    display: none;
  }
}
.plp-list-view-container .body-container .banner-sec .container .top .bread-crumb a {
  font: 600 0.75rem/1.0625rem var(--open-sans);
  color: var(--primary-white);
}
.plp-list-view-container .body-container .banner-sec .container .top .banner-heading {
  text-align: center;
}
@media screen and (max-width: 1023px) {
  .plp-list-view-container .body-container .banner-sec .container .top .banner-heading {
    margin-top: -15px;
  }
}
@media screen and (max-width: 600px) {
  .plp-list-view-container .body-container .banner-sec .container .top .banner-heading {
    margin: 0;
  }
}
.plp-list-view-container .body-container .banner-sec .container .top .banner-heading h1 {
  font: 400 2.5rem/3.3rem var(--pt-serif);
  color: var(--primary-white);
  margin-bottom: 8px;
}
@media screen and (max-width: 1023px) {
  .plp-list-view-container .body-container .banner-sec .container .top .banner-heading h1 {
    font: 400 2rem/2.6rem var(--pt-serif);
  }
}
.plp-list-view-container .body-container .banner-sec .container .top .banner-heading .total-product {
  font: 600 1rem/1.3rem var(--open-sans);
  color: var(--primary-white);
}
.plp-list-view-container .body-container .main-container .description-sec {
  padding: 1.565rem 11rem 1.25rem;
}
@media screen and (max-width: 1279px) {
  .plp-list-view-container .body-container .main-container .description-sec {
    padding: 1.565rem 4.4375rem 1.25rem;
  }
}
@media screen and (max-width: 1023px) {
  .plp-list-view-container .body-container .main-container .description-sec {
    padding: 1.565rem 1.5625rem 1.25rem;
  }
}
.plp-list-view-container .body-container .main-container .description-sec .para {
  font: 600 0.875rem/1.25rem var(--open-sans);
  color: var(--third-color-smoky-grey);
  max-height: 59px;
  overflow: hidden;
}
.plp-list-view-container .body-container .main-container .description-sec a {
  color: var(--primary-black);
  text-decoration: underline;
}
.plp-list-view-container .body-container .main-container .list-filter-sec .filter-container {
  background-color: var(--secondary-dawn-pink);
  padding: 15px 20px 20px;
  max-width: 300px;
  width: 100%;
}
.plp-list-view-container .body-container .main-container .list-filter-sec .filter-container .filter-top .price-indicatore {
  justify-content: space-between;
}
.plp-list-view-container .body-container .main-container .list-filter-sec .filter-container .filter-top .price-indicatore span {
  font: 600 1rem/1.375rem var(--open-sans);
  color: var(--primary-black);
}
.plp-list-view-container .body-container .main-container .list-filter-sec .filter-container .filter-top .price-filter-bar {
  width: 100%;
}
.plp-list-view-container .body-container .main-container .list-filter-sec .filter-container .filter-bottom .heading {
  font: 700 1rem/1.375rem var(--open-sans);
  color: var(--primary-black);
}
.plp-list-view-container .body-container .main-container .list-filter-sec .filter-container .filter-bottom .filter-options {
  width: 100%;
  border-radius: 8px;
  background-color: var(--primary-black);
}
.plp-list-view-container .body-container .main-container .list-filter-sec .filter-container .filter-bottom .filter-options li {
  justify-content: space-between;
  padding: 9px 16px;
  border-bottom: 1px solid var(--primary-white);
}
.plp-list-view-container .body-container .main-container .list-filter-sec .filter-container .filter-bottom .filter-options li span {
  font: 700 1rem/2.125rem var(--open-sans);
  color: var(--primary-white);
}
.plp-list-view-container .body-container .main-container .list-filter-sec .filter-container .filter-bottom .filter-options li .material-symbols-rounded {
  font-family: Material Symbols Rounded;
  font-weight: 200;
  font-style: normal;
  font-size: 24px;
  color: var(--primary-white);
}
.plp-list-view-container .footer {
  background-color: var(--primary-black);
  max-width: 1366px;
  margin: 0 auto;
}
.plp-list-view-container .footer .container {
  padding: 30px 0px;
  max-width: 1170px;
}
@media screen and (max-width: 1279px) {
  .plp-list-view-container .footer .container {
    padding: 30px 25px;
  }
}
@media screen and (max-width: 1023px) {
  .plp-list-view-container .footer .container {
    padding: 40px 31px 20px;
  }
}
@media screen and (max-width: 767px) {
  .plp-list-view-container .footer .container {
    padding: 40px 20px 20px;
  }
}
.plp-list-view-container .footer .container .inner-container .logo-left {
  margin-right: 50px;
  flex-basis: 23.1%;
  max-width: 100%;
}
@media screen and (max-width: 1279px) {
  .plp-list-view-container .footer .container .inner-container .logo-left {
    margin-right: 22px;
  }
}
@media screen and (max-width: 1024px) {
  .plp-list-view-container .footer .container .inner-container .logo-left {
    flex-basis: 14.4%;
  }
}
@media screen and (max-width: 1023px) {
  .plp-list-view-container .footer .container .inner-container .logo-left {
    display: none;
  }
}
.plp-list-view-container .footer .container .inner-container .right-links {
  border-left: 1px solid var(--third-color-smoky-grey);
  flex: 1;
}
@media screen and (max-width: 1023px) {
  .plp-list-view-container .footer .container .inner-container .right-links {
    border-left: none;
  }
}
.plp-list-view-container .footer .container .inner-container .right-links .right-top {
  align-items: flex-start;
  justify-content: space-between;
  padding-left: 40px;
  padding-bottom: 35px;
  border-bottom: 1px solid var(--third-color-smoky-grey);
  align-items: normal;
}
@media screen and (max-width: 1279px) {
  .plp-list-view-container .footer .container .inner-container .right-links .right-top {
    padding-left: 30px;
    padding-bottom: 30px;
  }
}
@media screen and (max-width: 1023px) {
  .plp-list-view-container .footer .container .inner-container .right-links .right-top {
    justify-content: space-around;
  }
  .plp-list-view-container .footer .container .inner-container .right-links .right-top .col-2,
  .plp-list-view-container .footer .container .inner-container .right-links .right-top .col-3 {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .plp-list-view-container .footer .container .inner-container .right-links .right-top {
    padding-left: 37px;
    padding-right: 37px;
    padding-bottom: 0;
    flex-flow: column;
    justify-content: center;
    border: none;
  }
}
.plp-list-view-container .footer .container .inner-container .right-links .right-top .col-1 .heading,
.plp-list-view-container .footer .container .inner-container .right-links .right-top .col-2 .heading,
.plp-list-view-container .footer .container .inner-container .right-links .right-top .col-3 .heading {
  font: bold 14px/19px var(--open-sans);
  color: var(--primary-white);
  letter-spacing: 1px;
}
.plp-list-view-container .footer .container .inner-container .right-links .right-top .col-1 ul li,
.plp-list-view-container .footer .container .inner-container .right-links .right-top .col-2 ul li,
.plp-list-view-container .footer .container .inner-container .right-links .right-top .col-3 ul li {
  font: normal 11px/24px var(--open-sans);
}
@media screen and (max-width: 500px) {
  .plp-list-view-container .footer .container .inner-container .right-links .right-top .col-4 {
    margin-top: 38px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--third-color-smoky-grey);
  }
}
.plp-list-view-container .footer .container .inner-container .right-links .right-top .col-4 .top-cont .news-letter {
  font: bold 22px/29px var(--pt-serif);
  color: var(--primary-white);
}
.plp-list-view-container .footer .container .inner-container .right-links .right-top .col-4 .top-cont p {
  font: normal 13px/18px var(--open-sans);
  color: var(--primary-white);
}
.plp-list-view-container .footer .container .inner-container .right-links .right-top .col-4 .top-cont .email-input {
  margin: 10px 0px 42px;
}
.plp-list-view-container .footer .container .inner-container .right-links .right-top .col-4 .top-cont .email-input input {
  height: 34px;
  width: 205px;
  padding: 10px 13px;
  background-color: var(--secondary-dawn-pink);
  border: none;
  font: italic 14px/14px var(--open-sans);
  border-radius: 17px 0px 0px 17px;
}
.plp-list-view-container .footer .container .inner-container .right-links .right-top .col-4 .top-cont .email-input input::placeholder {
  font: italic 10px/14px var(--open-sans);
  color: var(--primary-black);
}
.plp-list-view-container .footer .container .inner-container .right-links .right-top .col-4 .top-cont .email-input input:focus {
  outline: none;
}
@media screen and (max-width: 767px) {
  .plp-list-view-container .footer .container .inner-container .right-links .right-top .col-4 .top-cont .email-input input {
    width: 100%;
  }
}
.plp-list-view-container .footer .container .inner-container .right-links .right-top .col-4 .top-cont span {
  height: 34px;
  font: bold 14px/19px var(--pt-serif);
  color: var(--primary-white);
  background-color: var(--secondary-charcoal-grey);
  border-radius: 0px 17px 17px 0px;
  padding: 6px 12px;
}
.plp-list-view-container .footer .container .inner-container .right-links .right-top .col-4 .bottom-cont {
  align-items: flex-start;
}
.plp-list-view-container .footer .container .inner-container .right-links .right-top .col-4 .bottom-cont .llc {
  font: bold 16px/22px var(--pt-serif);
  color: var(--primary-white);
  margin-right: 25px;
}
.plp-list-view-container .footer .container .inner-container .right-links .right-top .col-4 .bottom-cont .address li {
  font: normal 11px/24px var(--open-sans);
}
.plp-list-view-container .footer .right-bottom {
  justify-content: space-between;
  padding-left: 40px;
  padding-top: 26.5px;
}
@media screen and (max-width: 1023px) {
  .plp-list-view-container .footer .right-bottom {
    flex-flow: column;
  }
}
@media screen and (max-width: 500px) {
  .plp-list-view-container .footer .right-bottom {
    padding-top: 33px;
    padding-left: 0;
  }
}
.plp-list-view-container .footer .right-bottom .social-icons ul li {
  margin-right: 23px;
}
.plp-list-view-container .footer .right-bottom div .all-rights-txt {
  font: normal 10px/14px var(--open-sans);
  color: var(--primary-white);
}
@media screen and (max-width: 1023px) {
  .plp-list-view-container .footer .right-bottom div .all-rights-txt {
    margin-top: 26px;
    font: normal 11px/14px var(--open-sans);
  }
}
@media screen and (max-width: 500px) {
  .plp-list-view-container .footer .right-bottom div .all-rights-txt {
    font: normal 10px/14px var(--open-sans);
  }
}
.plp-list-view-container .footer .right-bottom div .all-rights-txt a {
  text-decoration: underline;
}
